<header>
  <nav class="navbar navbar-inverse navbar-fixed-top custom-navbar">
    <div class="container-fluid">
      <div class="navbar-header custom-brand">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" routerLink="/home">
           Rofre.
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/influencer-login" class="nav-element">I’m an Influencer</a></li>
          <li><a routerLink="/brand-login" class="nav-element">I’m a Brand</a></li>
          <li><a routerLink="/selection" class="get-started-btn">Get Started</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>



