<app-header></app-header>

<!-- jombotron -->
<div class="jumbotron jumbo">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-7 col-xs-12 cust-bg-1">
        <h1>Connecting Brands <br/>And Influencers</h1>
        <h2>AI enabled platform for brands to discover right influencers and market themselves</h2>
        <div class="starts-email">
          <form>
            <div class="input-group">
              <input id="search" type="text" class="form-control" name="search" placeholder="enter your email id to start">
              <span class="input-group-addon"><img src="/assets/images/Home/7.png" alt="search" /></span>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 col-sm-5 col-xs-12 text-right">
        <img src="/assets/images/Home/5.png" alt="banner images" class="banner-img" />
      </div>
    </div>
  </div>
</div>
<!-- jombotron -->

<!-- second fold -->
<div class="second">
  <div class="container-fluid">
    <div class="row">
      <h2>Right Influencers <br/><span>on all social media platforms</span></h2>
      <div class="row mobile-view" id="count-div">
            <div class="col-sm-4 col-xs-4">
              <h4><span class="count" data-count="5000">00</span>+</h4>
              <h5>INFLUENCERS</h5>
            </div>
            <div class="col-sm-4 col-xs-4">
              <h4><span class="count" data-count="50">0</span>+</h4>
              <h5>PLATFORMS</h5>
            </div>
            <div class="col-sm-4 col-xs-4">
              <h4><span class="count" data-count="500">0</span>+</h4>
              <h5>BRANDS</h5>
            </div>
     </div>
      <div class="col-md-5 col-sm-6 col-xs-6 cust-bg-2 text-right">
        <img src="/assets/images/Home/16.png" alt="banner images" class="img-1" />
         <div class="social-status-box">
          <div class="box box1">
            <p>FACEBOOK FOLLOWERS</p>
            <h4>114,123</h4>
          </div>
          <img src="/assets/images/Home/12.png" alt="banner images" class="follower-img spl-follower-img" />
        </div>
      </div>
      <div class="col-md-1  col-xs-12 ">
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 cust-bg-3">
        <div class="social-status-box">
          <img src="/assets/images/Home/10.png" alt="banner images" class="follower-img" />
          <div class="box box2">
            <p class="in">INSTAGRAM FOLLOWERS</p>
            <h4>42,354</h4>
          </div>
          <div class="row desktop-view" id="count-div">
            <div class="col-sm-4 col-xs-12">
              <h4><span class="count" data-count="5000">00</span>+</h4>
              <h5>INFLUENCERS</h5>
            </div>
            <div class="col-sm-4 col-xs-12">
              <h4><span class="count" data-count="50">0</span>+</h4>
              <h5>PLATFORMS</h5>
            </div>
            <div class="col-sm-4 col-xs-12">
              <h4><span class="count" data-count="500">0</span>+</h4>
              <h5>BRANDS</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- second fold -->

<!-- Third fold-->
<div class="Third">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h2>Explore Infinite <br/><span>Possibilities</span></h2>
      </div>
      <div class="col-sm-6 col-xs-12">
        <ul class="nav nav-pills fright">
          <li class="active"><a data-toggle="pill" href="#brand"><span>I’m a </span><br/>brand</a></li>
          <li><a data-toggle="pill" href="#influencer"><span>I’m an </span><br/>influencer</a></li>
        </ul>
      </div>
    </div>
    <div class="">
      <div class="tab-content">
        <div id="brand" class="tab-pane fade in active">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <img src="/assets/images/Home/13.png" alt="banner images" />
            </div>
            <div class="col-sm-6 col-xs-12">
              <h3>Earn with Bisaq</h3>
              <p>Quick registeration and approval Earn with every campaign Strengthen your social media profile Get associated with top brands</p>
              <button type="button" class="get-started" routerLink="/selection">Get Started</button>
            </div>
          </div>
        </div>
        <div id="influencer" class="tab-pane fade">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <img src="/assets/images/Home/19.png" alt="banner images" />
            </div>
            <div class="col-sm-6 col-xs-12">
              <h3>Reach Your Users</h3>
              <p>Start your campaign in no time Intelligent influencer search Multiple social media platforms 24 x 7 support for any queries</p>
              <button type="button" class="get-started" routerLink="/selection">Get Started</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Third fold -->

<!-- fourth fold-->
<div class="fourth">
  <div class="container-fluid">
    <div class="text-center">
      <div class="row">
        <h2>Trusted By Leading Brands</h2>
        <div class="col-md-12">
         <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

              <div class="item active">
                <div class="row">
                   <div class="col-sm-1 col-xs-6">
                    </div>
                    <div class="col-sm-2 col-xs-6">
                       <img src="/assets/images/Home/15.png" alt="client-logo" />
                    </div>
                    <div class="col-sm-2 col-xs-6">
                       <img src="/assets/images/Home/15.png" alt="client-logo" />
                    </div>
                    <div class="col-sm-2 col-xs-6">
                       <img src="/assets/images/Home/15.png" alt="client-logo" />
                    </div>
                    <div class="col-sm-2 col-xs-6">
                       <img src="/assets/images/Home/15.png" alt="client-logo" />
                    </div>
                    <div class="col-sm-2 col-xs-6">
                       <img src="/assets/images/Home/15.png" alt="client-logo" />
                    </div>
                    <div class="col-sm-1 col-xs-6">
                    </div>
                </div>
              </div>

              <div class="item">
                <div class="row">
                    <div class="col-sm-1 col-xs-6">
                    </div>
                    <div class="col-sm-2 col-xs-6">
                       <img src="/assets/images/Home/15.png" alt="client-logo" />
                    </div>
                    <div class="col-sm-2 col-xs-6">
                       <img src="/assets/images/Home/15.png" alt="client-logo" />
                    </div>
                    <div class="col-sm-2 col-xs-6">
                       <img src="/assets/images/Home/15.png" alt="client-logo" />
                    </div>
                    <div class="col-sm-2 col-xs-6">
                       <img src="/assets/images/Home/15.png" alt="client-logo" />
                    </div>
                    <div class="col-sm-2 col-xs-6">
                       <img src="/assets/images/Home/15.png" alt="client-logo" />
                    </div>
                    <div class="col-sm-1 col-xs-6">
                    </div>
                </div>
              </div>
            
              <div class="item">
                <div class="row">
                   <div class="col-sm-1 col-xs-6">
                    </div>
                    <div class="col-sm-2 col-xs-6">
                       <img src="/assets/images/Home/15.png" alt="client-logo" />
                    </div>
                    <div class="col-sm-2 col-xs-6">
                       <img src="/assets/images/Home/15.png" alt="client-logo" />
                    </div>
                    <div class="col-sm-2 col-xs-6">
                       <img src="/assets/images/Home/15.png" alt="client-logo" />
                    </div>
                    <div class="col-sm-2 col-xs-6">
                       <img src="/assets/images/Home/15.png" alt="client-logo" />
                    </div>
                    <div class="col-sm-2 col-xs-6">
                       <img src="/assets/images/Home/15.png" alt="client-logo" />
                    </div>
                    <div class="col-sm-1 col-xs-6">
                    </div>
                </div>
              </div>
            </div>
          </div>
       </div>
     </div>
    </div>
  </div>
</div>
<!-- fourth fold-->

<!-- fifth fold-->
<div class="fifth">
  <div class="container-fluid tab-content">
    <h2>Latest work by our influencers</h2>
    <div class="row tab-pane fade in active" id="influencer1">
      <div class="col-sm-6 col-xs-12">
        <div class="work-done">
          <img src="/assets/images/Home/18.png" alt="client-logo" class="likeperunit" />
          <img src="/assets/images/Home/17.png" alt="client-logo" class="cl-img" />
          <button type="button" class="btn1" data-toggle="pill" href="#influencer2" ><img src="/assets/images/Home/21.png" alt="client-logo" />Refresh</button>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <h3>Promoting Travel Category For Sminqpp </h3>
        <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
        <div class="inline-flex">
          <img src="/assets/images/Home/user.png" alt="client-logo" class="client-logo" />
          <p>Shachin Bharadwaj
            <br/>Founder - Sminq</p>
        </div>
      </div>
    </div>
    <div class="row tab-pane fade" id="influencer2">
      <div class="col-sm-6 col-xs-12">
        <div class="work-done">
          <img src="/assets/images/Home/18.png" alt="client-logo" class="likeperunit" />
          <img src="/assets/images/Home/17.png" alt="client-logo" class="cl-img"/>
          <button type="button" class="btn2" data-toggle="pill" href="#influencer3"><img src="/assets/images/Home/21.png" alt="client-logo" />Refresh</button>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <h3>Promoting Travel Category For Sminq ff</h3>
        <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
        <div class="inline-flex">
          <img src="/assets/images/Home/user.png" alt="client-logo"  class="client-logo" />
          <p>Shachin Bharadwaj
            <br/>Founder - Sminq</p>
        </div>
      </div>
    </div>
    <div class="row tab-pane fade" id="influencer3" >
      <div class="col-sm-6 col-xs-12">
        <div class="work-done">
          <img src="/assets/images/Home/18.png" alt="client-logo" class="likeperunit" />
          <img src="/assets/images/Home/17.png" alt="client-logo" class="cl-img"/>
          <button type="button" class="btn3" data-toggle="pill" href="#influencer1"><img src="/assets/images/Home/21.png" alt="client-logo" />Refresh</button>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <h3>Promoting Travel Category For Sminqdd </h3>
        <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
        <div class="inline-flex">
          <img src="/assets/images/Home/user.png" alt="client-logo"  class="client-logo" />
          <p>Shachin Bharadwaj
            <br/>Founder - Sminq</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fifth fold-->

<!-- sixth fold-->
<div class="sixth text-center">
  <div class="container-fluid">
    <div class="row">
      <h2>Ready to take a deep dive?</h2>
      <p>Your dashboard is waiting for you</p>
      <div class="starts-email">
        <form>
          <div class="input-group">
            <input id="search" type="text" class="form-control" name="search" placeholder="enter your email id to start">
            <span class="input-group-addon"><img src="/assets/images/Home/7.png" alt="search" /></span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- sixth fold-->

<app-footer></app-footer>
